div{
    color:mediumorchid;
    background-color: black;
    width: 500px;
    height: 200px;
}

h1{
    color: peachpuff;
    background-color:rgb(179, 46, 46);
    width: 500px;
    border-radius: 20%;
}

.one{
    color:olive;
    background-color: rgb(120, 214, 243);
    border-width: 3px;
    border-color: olive;
    border-style:groove;
    /*used to align a box in a specified area*/
    box-sizing: border-box;
    border-radius: 10% 30% 50% 70%;
}

.two{
    color:rgb(61, 4, 36);
    background-color: palevioletred;
    border-width: 5px;
    border-left-width: 10px;
    border-color:rgb(66, 3, 35);
    border-left-color:yellow;
    border-style:dotted solid none;
    border-radius: 50%;
    
}

.three{
    color:rgb(85, 28, 2);
    background-color: rgb(199, 219, 14);
    border-width: 7px;
    border-color: rgb(54, 3, 3);
    border-style: inset dashed;
    border-radius: 50px;
    border-left-color: rosybrown;
}

.four{
    color:green;
    background-color: rgb(106, 177, 106);
    border-width: 10px;
    border-color: lime;
    border-style: outset ;
    border-radius: 30%;
}

.five{
    color:blue;
    background-color: cyan;
    border:darkcyan 5px solid ;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}