/* Universal Selectors */
*{
    color:rgba(255, 192, 203, 0.733);
    /*background-color:crimson;*/
}

body{
    background-color:crimson;
}

/* Element Selectors */

button{
    font-size: 20px;
    background-color: darkkhaki;
}

/*Selector List */

h1,h2,h3{
    color:palegoldenrod;
}


/*ID Selectors */

#signup{
    background-color:goldenrod;
}

/*Class Selectors */
span{
    color:rgb(5, 85, 29);
}

.tag{
    background-color:lime;
    color:tomato;
}

/* Descendant Selectors */
.me a{
    color:violet;
}

li a{
    color:cadetblue;
}

/* Adjacent Selectors */
h2 + button{
    color:yellow;
}

/* Direct Descendent */
div > a{
    color:black;
}

/*Attribute Selector */

input[type="password"]{
    color:maroon;
}

div[class="me"]
{
    background-color:rosybrown;
}

/* Some extra Selectors */

a[href*="extra"]{
    color:seagreen;
}

/* Pseudo Classes */
button:hover{
    background-color:darkred;
    color:wheat;
}

div button:hover{
    background-color:darkgreen;
    color:yellowgreen;
}

.me button:active{
    background-color: skyblue;
    color:slateblue;
}

.me:nth-of-type(2n){
    background-color:rgb(91, 160, 160)
}

/* Pseudo Elements */


h2::first-letter{
    font-size: 50px;
}

nav::first-line{
    color:aqua;
}

nav::selection{
    background-color: black;
}


nav::before{

    content:"hey!!";
    font-size: 40px;
    font-weight: 700;
}