h2{
    color:yellow;
    background-color: rgb(255,200,200);
}

button{
    color:hsl(20,80%,10%);
    background-color:yellowgreen;
    border-color:blue;
    
}

p{
    color:maroon;
    background-color: plum;
}

body{
    background-color: #494f3f;
}